<!DOCTYPE html>
<html>

<head>
    <title>JSON cover letter Lint :: JSON Schema Cover Letter Validator</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body ng-app="app" ng-controller="validatorController as ctrl">


    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12">
                <p> Validator for cover letters, based on   <a href="http://jsonschemalint.com/draft4/">JSON Schema Lint</a>
                <p>by <a href="https://gravatar.com/nickcmaynard">Nick Maynard</a>.  Fork <a href="https://github.com/nickcmaynard/jsonschemalint">his project on Github.</a></p>


        </div>

    

            <div class="col-xs-12 col-md-6">

                <div class="panel panel-default" ng-class="{'panel-danger': ctrl.documentErrors.length, 'panel-success': !ctrl.documentErrors.length}">
                    <div class="panel-heading">
                        JSON Document
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-default btn-xs" ng-click="ctrl.formatDocument()"><span class="glyphicon glyphicon-align-left" aria-hidden="true">&nbsp;Format</a>
                        </div>
                    </div>
                    <div class="panel-body">

                        <form novalidate>
                            <div class="form-group">
                                <textarea ng-model="ctrl.document" class="form-control json"></textarea>
                            </div>
                        </form>
                        <p ng-show="ctrl.documentMessage" ng-bind="ctrl.documentMessage"></p>

                    </div>

                    <table class="table" ng-show="ctrl.documentErrors.length">
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th>Error</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="error in ctrl.documentErrors">
                                <td ng-bind="error.field"></td>
                                <td ng-bind="error.message"></td>
                                <td><pre class="error-value" ng-bind="error.value | json"></pre></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

    <script src="js/is-my-json-valid/is-my-json-valid.min.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/yaml.js/dist/yaml.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/ValidatorController.js"></script>
</body>

</html>
